/*******************
ESTILOS GENERALES
*******************/


*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: transparent
}
body{
    background-color: black;
    font-family: 'Fugaz One', cursive;
    font-size: 1.3rem;
    color: white;
}
.footer{
    width: 100%;
    height: auto;
    max-width: 1520px;
}