/*******************
ESTILOS GENERALES
*******************/


*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: transparent
}
body{
    background-color: black;
    font-family: 'Fugaz One', cursive;
    color: white;
}
