/*******************
TAMANOS
*******************/
$tamano-canciones: 900px;
$ancho-fotos: 1000px;
$alto-fotos: 600px;

.tamanoPortada{
    width: 100%;
    height: auto;
    max-width: 1520px;
}
.tamanoLogo{
    width: 100%;
    height: auto;
    max-width: 600px;
}
.tamanosFotos{
    width: $ancho-fotos/2;
    height: $alto-fotos/2;
    border-radius: 2px;
} 
.canciones--tamano{
    width: $tamano-canciones/2;
    height: $tamano-canciones/2;
    border-radius: 50px;
    padding: 2rem;
}
@media only screen and (max-width:991px){
    .canciones--tamano{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width:650px){
    .canciones--tamano{
        width: 100px;
        height: 100px;
    }
    
}