/*******************
TAMANOS
*******************/

.tamanoPortada{
    width: 100%;
    height: auto;
    max-width: 1520px;
}
.tamanoLogo{
    width: 100%;
    height: auto;
    max-width: 600px;
}
.canciones--tamano{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50px;
    padding: 2rem;
}
.tamanosFotos{
    width: 100%;
    height: auto;
    max-width: 450px;
    border-radius: 2px;
} 
@media only screen and (max-width:650px){

    .tamanoLogo{
        width: 300px;
        height: auto;
    }
}