


/******************
ESTILOS DE TEXTO
******************/


.titulos{
    font-family: 'Fugaz One', cursive;
    color: lightgrey;
    font-size: 7vw;
    margin: 50px;
    text-transform: uppercase;
    text-align: center;
}
.titulos:hover{
    color: rgb(4, 70, 114);
}
.tour{
    font-family: 'Stalinist one', cursive;
    color: #c60000;
    font-size: 6vw;
    text-align: center;
}
.parrafos{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}
.parrafos-2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.parrafos-2:hover{
    background-color: #000000;
}
.subtexto{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2vw;
}
@media only screen and (max-width:991px) {
    .titulos{
        font-size: 10vw;
        margin: 20px;
    }

    .tour{
        margin-bottom: 20px;
    }
    .parrafos{
        font-size: 3vw;
    }
    .parrafos-2{
        font-size: 4vw;
    }
    .subtexto{
        font-size: 4vw;
    }
}
@media only screen and (max-width:650px) {
    
    .parrafos{
        font-size: 4vw;
        text-align: center;
    }
    .subtexto{
        font-size: 6vw;
        text-align: center
    }
}

