//Import
@import "estructura";
@import "tamanos";
@import "textos";
@import "colores";
@import "fondos";


/*********************
CSS DEL INDEX
*********************/

.eventos__lista{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 3vw;

    .loc{
        padding: 1rem;
    }
    .lugar{
        @extend .loc
        
    }
    .lugar::after{
        content: "................................."
    }
    .fecha{
        @extend .loc
    }

}
/********************
CSS DE MUSICA
********************/
.trans{
    transition: all 2s;
}
.trans:hover{
    width: 600px;
    height: 600px;
}

.canciones__flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*********************
CSS MEDIA
*********************/ 

.fondoMedia{
    background-image: url(..//img/fondomusica.png);
}
.transMedia{
    transition: all 2s;
}
.transMedia:hover{
    width: 700px;
    height: 450px;
}
.fotos-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px;
}
.fotos-flex-dos{
    @extend.fotos-flex;
    justify-content: space-around;
}

/***********************
CSS NOTICIAS
***********************/

#noticias{
    font-family: 'Fugaz One',cursive;
    font-size: 1.5vw;
    color: $colorUno;
    display: flex;
    justify-content: space-evenly;
    
}


/**********************
CSS CONTACTO
**********************/

.formulario{
    text-align: center;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
    color: $colorUno;
}


/*********************
MEDIA QUERIES
*********************/
@media only screen and (max-width:991px) {
   
   
   /********
   INDEX
   ********/
    .eventos__lista{
        display: block;
        text-align: center;
        margin: 2rem;
        text-transform: uppercase;
        .loc{
            padding: 0rem;
        }
    }
    .lugar::after{
        display: none;
    }
    
}

@media only screen and (max-width:650px){

    /*******************
    INDEX
    *******************/
    .tamanoLogo{
        width: 300px;
        height: auto;
    }
    /*****************
    MUSICA
    *****************/
    .canciones{
            width: 200px;
            height: 200px;
            border-radius: 10px;
            justify-content: center;
        }
    .trans{
            transition: all 2s;
        }
    .trans:hover{
            width: 250px;
            height: 250px;
        }
    /****************
    MEDIA
    ****************/
        .tamanosFotos{
            width: 300px;
            height: 150px;
            margin: 30px;
        } 
        .transMedia{
            transition: all 2s;
        }
        .transMedia:hover{
            width: 400px;
            height: 250px;
        }

    
}
@media only screen and (max-width:500px){

    /****************
    INDEX
    ****************/
    .tamanoLogo{
        width: 200px;
        height: auto;
    }
}