//Import
@import "estructura";
@import "tamanos";
@import "textos";
@import "colores";


/*********************
CSS DEL INDEX
*********************/
#eventos{
    background-image: url(../fondoIndex2.png);
    background-size: cover;
    background-repeat: no-repeat;
    .eventos__lista{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 3vw;

        .loc{
        padding: 1rem;
    }
        .lugar{
        @extend .loc
        
    }
        .lugar::after{
        content: "................................."
    }
        .fecha{
        padding: 1rem;
    }
}
}
/*********************
CSS MIEMBROS
**********************/
#carrusel{
    padding: 1rem;
}
#historia{
    background-image: url(../img/otro_conciero_samurai.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#miembros{
    padding: 1rem;
}
/*********************
CSS MUSICA
*********************/
#cancion{
    padding: 1rem;
}
 /*********************
   CSS MEDIA
 *********************/ 
 #fotos{
     padding: 1rem;
 
    .galeria {
    margin: 5px;
    width: 100%;
    height: auto;
    transition: all 1s;
  }
  
    .galeria:hover {
    transform: scale(0.95)
  }
  
    .galeria img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border-color: white;
    border-width: 5rem;
  }
  
    .desc {
    padding: 15px;
    text-align: center;
  }
 }
 #videos{
     padding: 1rem;

    .video{
    width: 100%;
    height: 65vh;
    }
}

/**********************
CSS CONTACTO
**********************/
#revolucion{
    background-image: url(../img/fondoUnete.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#formulario{
    padding: 3rem;
}
#mapa{
    padding: 1rem;
}
/********************
TRANSFORMACIONES Y ANIMACIONES
*********************/
.trans{
    transition: all 0.5s;
}
.trans:hover{
    transform: scale(0.9);
}

[data-aos="flip-left"]{
    position: relative;
    z-index: -1;
}
[data-aos="fade-left"]{
    position: relative;
    z-index: -1;
}
[data-aos="fade-right"]{
    position: relative;
    z-index: -1;
}

/*********************
MEDIA QUERIES
*********************/
@media only screen and (max-width:991px) {

/********************
        INDEX
********************/
   
#eventos{
    .eventos__lista{
        display: block;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        padding: 1rem;
        .loc{
            padding: 0rem;
        }
        .lugar{
            padding: 0rem;
        }
        .lugar::after{
            display: none;
        }
        .fecha{
            padding: 0rem;
        }
    }
}
}